.imageAlignSide .blockImage {
  text-align: center;
  max-width: 400px;
  flex: 0 1 400px;
  display: block;
  margin: auto;
}

.container.paddingTop {
  padding-top: 40px;
}

.container.paddingBottom {
  padding-bottom: 60px;
}

@media only screen and (--min-device-width: 360px) and (--max-device-width: 736px) {
}

@media only screen and (max-width: 960px) {
  .wrapper {
    max-width: 700px;
  }
  .imageAlignSide.imageAlignLeft {
    flex-flow: row wrap-reverse;
  }
  .imageAlignSide .blockImage {
    margin-top: 20px;
  }
  .imageAlignLeft .blockImage {
    margin-right: 0;
  }
  .imageAlignRight .blockImage {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
  .wrapper {
    max-width: 1100px;
  }
}

h1 {
  font-family: "Lobster";
}

body {
  color: #224951;
}

.projectTitle {
  font-family: "Lobster";
  color: #224951
}

.blockContent h2 {
  font-size: 200%;
  font-family: "Lobster";
}

article a:hover {
  text-decoration: underline;
}

blockquote {
  background-color: #e8f8f7;
  border-left: 8px solid #c1ece9
}

blockquote h4,
blockquote p,
blockquote li {
  color: #19524f
}

th, td {
  text-align: center; 
}
