name: Continuous Integration
on:
 pull_request:
   branches: [master]
 push:
   branches: [master]
jobs:
  incompat:
    name: Test Incompatibilities
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v7
      - name: Test Incompatibilities 3.0
        run: sbt '++0.26.0; incompat30 / test; ++2.13.3; incompat30 / test'
      - name: Test Incompatibilities 3.1
        run: sbt 'incompat31 / test'
